html, body {

	font-family: arial, sans-serif;
	margin: 0;
}

header {
	
	background-color: #a80000;
	padding: 40px;
	text-align: center;

}

h1 {
	font-size: 90px;
	color: white;
}

header img {
	border-radius: 170px;
	width: 300px;
	border: 15px solid #0611a5;
}

.content {

	max-width: 600px;
	margin: 0 auto;

}

img.big-image {

	max-width: 100%;

}
